DATABASE_URL=
API_URL=host/api
APP_URL=
DB_HOST=
DB_NAME=zkpad-dev
PORT=4004
HOST=localhost
S3_ENDPOINT=
S3_ACCESS_KEY=minio
S3_SECRET_KEY=miniosecret
S3_FOLDER=zkpad
S3_BUCKET=zkpad
S3_IS_MINIO=true
JWT_SECRET=jwtsecretkey

TW_CLIENT_ID=
TW_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
